:root {--vh: 1%}
$bp1: 1300.98px;
$bp2: 992.98px;
$bp3: 767.98px;
$bp4: 576.98px;
$bp5: 480.98px;
$bp6: 380px;
$dark-gray: #1F0303;
$gray: #B5ADAD;
$light-gray: #f4f4f4;
$white: #ffffff;
$black: #1F0303;
$red: #D91B1B;

